[submodule "chrome/lib/yepnope.js"]
	path = chrome/lib/yepnope.js
	url = git://github.com/SlexAxton/yepnope.js.git
[submodule "chrome/lib/jquery-bbq"]
	path = chrome/lib/jquery-bbq
url=git://github.com/dadario/jquery-bbq.git
